{% extends "logements/logements.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row align-items-md-stretch ">
    <div class="col-md-12 my-5">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Collaborateur Insertion</h2>
            <p>Insert a new Collaborateur</p>
            <form action="" method="POST" autocomplete="off">
                {%csrf_token%}
                {{form|crispy}}
                <input type="submit" value="Enregister" class="btn btn-outline-warning my-2 text-dark bg-warning">
            </form>
      </div>
    </div>
</div>
{% endblock content %}