{% extends "logements/logements.html" %}
{% block content %}
<div class="row align-items-md-stretch ">
    <div class="col-md-12 my-5">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Logements Liste</h2>
        <p>Liste des Logements</p>
            <table id="table_" class="table table-striped table-warning rounded">
                <thead class="rounded">
                <tr class="rounded">
                    <th scope="col">Id</th>
                    <th scope="col">Nrb Pieces</th>
                    <th scope="col">Surface</th>
                    <th scope="col">Loyer</th>
                    <th scope="col">Charges</th>
                    <th scope="col">Part Agence</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Proprietaire</th>
                    <th scope="col">Collaborateur</th>
                    <th scope="col">
                        <a class ="btn btn-outline-success" href="{% url 'logementInsert' %}">
                        Insert 
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody class="rounded">
                
                    {% for logement in logementsObjects %}
                    <tr>
                        <th scope="row">{{ logement.id }}</th>
                        <td>{{ logement.nbPieces }}</td>
                        <td>{{ logement.surface }}</td>
                        <td>{{ logement.loyer }}</td>
                        <td>{{ logement.charges }}</td>
                        <td>{{ logement.partAgence }}</td>
                        <td>{{ logement.adresse }}</td>
                        <td>{{ logement.proprietaire }}</td>
                        <td>{{ logement.collaborateur }}</td>
                        <td class="d-flex ">
                            <a href="{% url 'logementUpdate' logement.id %}" class="btn text-dark mx-2 px-0">
                                <i class="far fa-edit"></i>
                            </a>
                            <form action="{% url 'logementDelete' logement.id %}" method="post" >
                                {%csrf_token%}
                                <button type="submit" class="btn text-danger px-2">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>

                    </tr>
                    {%endfor%}
                </tbody>
            </table>
      </div>
    </div>
</div>

{% endblock content %}